html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

shader-doodle {
  width: 100%;
  height: 100%;
  position: absolute;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

.CodeMirror {
    animation-duration: 0.8s;
    animation-name: fadein;
    opacity: 0.8;
    height: 100%;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.8;
    }
}

@keyframes fadeout {
    from {
        opacity: 0.8;
    }

    to {
        opacity: 0;
    }
}

#time, #teodoran {
    position: fixed;
    bottom: 2px;
    color: #aeb2f8;
    animation-duration: 0.8s;
    animation-name: fadein;
    opacity: 0.8;
}

#time.error, #teodoran.error {
    color: #de8e30;
}

#time {
    left: 4px;
}

#teodoran {
    right: 4px;
}